<!DOCTYPE html>
<html>
<head>
	<title>Peoples</title>
</head>
<body>
<h1>
	List of all peoples
</h1>

<div th:each="p:${peoples}">
	<div>
		<a href="peoples.html" th:href="@{/people/(id=${p.id})}"><span th:text="${p.id}"></span></a>
		<span th:text="${p.login}"></span>
		<span th:text="${p.firstName}"></span>
		<span th:text="${p.lastName}"></span>
		
		<a href="phones.html" th:href="@{/phones/{id}(id=${p.id})}"><span>See phone Number</span></a>
		
	</div>
	
</div>

<div>
	<a href="peoples.html" th:href="@{/peoples}">HOME</a>
</div>
</body>
</html>
